<h1 class="form-heading">Add Connector</h1>

<!-- add Connector form -->
<form [formGroup]="addConnector" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Connector Output Power</mat-label>
                <input matInput type="email" placeholder="Ex: 18.5542818" formControlName="connectorOutputPower">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Connector Charges</mat-label>
                <input matInput type="text" placeholder="Ex: 73.923676" formControlName="connectorCharges">
            </mat-form-field>

        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="connectorStatus">
                <mat-label><b>Connector Status</b></mat-label>
                <mat-radio-button value="Connected">Connected</mat-radio-button>
                <mat-radio-button value="Disconnected">Disconnected</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Connector Type</mat-label>
                <mat-select formControlName="connectorType">
                    <mat-option *ngFor="let val of connectorType" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Connector Socket</mat-label>
                <mat-select formControlName="connectorSocket">
                    <mat-option *ngFor="let val of connectorSocket" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button class="form-button" type="button" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button class="form-button" type="submit">{{data.connectorId ? "Update" : "Add"}}</button>
    </div>

</form>