<h1>Payments</h1>
<div class="table-header-card tab-content">
    <mat-card>
        <mat-card-content>
            <span class="example-spacer"></span>
            <button mat-raised-button >
                <mat-icon aria-hidden="false" aria-label="Example download icon" fontIcon="download"></mat-icon>
                <h5>Download</h5>
            </button>
        </mat-card-content>
      </mat-card> 
</div>
<div class="table-content-card">
    <mat-card>
        <mat-card-content>
            <table mat-table >
                <tr>
                    <th>Sr no</th>
                    <th>Name</th>
                    <th>Payment Date</th>
                    <th>Payment Status</th>
                    <th>Payment Method</th>
                    <th>Amount</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Stewart Bond</td>
                    <td>11/08/2022</td>
                    <td>Completed</td>
                    <td>Balance</td>
                    <td>Rs 760.00</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Max Martin</td>
                    <td>23/10/2022</td>
                    <td>Pending</td>
                    <td>Balance</td>
                    <td>Rs 1000.00</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Nick Erik</td>
                    <td>05/012/2022</td>
                    <td>Rejected</td>
                    <td>Balance</td>
                    <td>Rs 860.00</td>
                  </tr>
            </table>
        </mat-card-content>
    </mat-card>           
    
    <div class="back-button">
        <button routerLink="/dashboard">Back</button>
    </div>
</div>