<h1>Connector</h1>
<h4>Charger Name: </h4>

<div class="table-content-card">
    <mat-card>
    <mat-card-content>
        
<!-- using mat-table for display list of charger list for particular station-->
<table mat-table [dataSource]="dataSource" matSort>
  
    <ng-container matColumnDef="connectorNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1" >Position Of Connector </th> <!--(click)="openChargerList()"-->
      <td mat-cell *matCellDef="let row" style="cursor: pointer;"> {{row.connectorNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="connectorType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Connector Type </th>
      <td mat-cell *matCellDef="let row"> {{row.connectorType}} </td>
    </ng-container>

    <ng-container matColumnDef="connectorSocket">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Connector Socket </th>
        <td mat-cell *matCellDef="let row"> {{row.connectorSocket}} </td>
      </ng-container>
  
    <ng-container matColumnDef="connectorStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1">Connector Status </th>
      <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.connectorStatus === 'Connected' ? 'green' : 'red' }" class="station-status"> {{row.connectorStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="connectorOutputPower">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1">Output Power </th>
        <td mat-cell *matCellDef="let row"> {{row.connectorOutputPower}} </td>
      </ng-container>
  
    <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="menu-col"></th>
        <td mat-cell *matCellDef="let row">
            <mat-icon class="vertical-menu-icon" [matMenuTriggerFor]="dotmenu">more_vert</mat-icon>
            <mat-menu #dotmenu="matMenu" class="chargingStation-threeDot-Menu">
                &nbsp;&nbsp;<mat-slide-toggle>Stop-Start</mat-slide-toggle>&nbsp;<br>
                &nbsp;&nbsp;<mat-slide-toggle >Inactive-Active</mat-slide-toggle>&nbsp;&nbsp;&nbsp;
                <div class="myStation-menu-setting" (click)="openConnectorSetting(row.connectorId)">
                  <mat-icon>settings</mat-icon>
                  <h4>Setting</h4>
              </div>
            </mat-menu> 
        </td>
    </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="[ 'connectorNumber', 'connectorType','connectorSocket','connectorStatus','connectorOutputPower']"></tr> <!-- display these column in the 1st row -->
  <tr mat-row *matRowDef="let row; columns: [ 'connectorNumber', 'connectorType','connectorSocket','connectorStatus','connectorOutputPower', 'menu']"></tr> <!--display value -->
  
  </table>
  
  <mat-paginator [pageSizeOptions]="[4]" aria-label="Select page of users"></mat-paginator>

        </mat-card-content>
    </mat-card>
    
    <div class="myStation-back-button">
      <h4 routerLink="/my-station">Back To My Station</h4>
  </div>

    <div class="back-button">
        <button routerLink="/dashboard">Back</button>
    </div>
</div>

