.edit-option{
    display: flex;
}
.edit-option h4{
    margin-right: 20px;
}

.charger-setting-page{
    display: flex;
    background-color: lightblue;
    padding: 40px 70px;
    justify-content: center;
}

.row{
    display: flex;
    gap:20px;
}
.action{
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
}
.form-button{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(26, 131, 167);
    align-items: center;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    height: 2.1rem;
}
.form-button:hover{
    
    color: rgb(26, 131, 167);
    background-color: black;
}