<h1>My Station</h1>
<!-- table header section for button and filters -->
<div class="table-header-card tab-content">
    <mat-card>
        <mat-card-content>
            <span class="example-spacer"></span>
            <button mat-raised-button (click)="openAddStationDialog()">
                <mat-icon aria-hidden="false" aria-label="Example download icon" fontIcon="add"></mat-icon>
                <h5>Add</h5>
            </button>
        </mat-card-content>
      </mat-card> 
</div>

<!-- card in which table is present -->
<div class="table-content-card">
    <mat-card>
        <mat-card-content>
            <!-- <table mat-table >
            <thead>
                <tr>
                    <th rowspan="2">Sr no</th>
                    <th rowspan="2">Station</th>
                    <th rowspan="2">Location</th>
                    <th rowspan="2">Address</th>
                    <th colspan="4">Chargers</th>
                    <th rowspan="2">Type</th>
                    <th rowspan="2">Status</th>
                    <th rowspan="2">Usage</th>
                    <th rowspan="2">Revenue</th>
                  </tr>
                  <tr>
                    <th><mat-icon style="color: rgb(14, 170, 209);">fiber_manual_record</mat-icon>Total</th>
                    <th><mat-icon style="color: green;">fiber_manual_record</mat-icon>Available</th>
                    <th><mat-icon style="color: rgb(255, 98, 41);">fiber_manual_record</mat-icon>Inuse</th>
                    <th><mat-icon  style="color: red">fiber_manual_record</mat-icon>Defective</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let item of myStationList" >
                    <td>{{item.id}}</td>
                    <td><a class="myCharging-station-routing-td" routerLink="/my-station/charging-station">{{item.station}}</a></td>
                    <td>{{item.location}}</td>
                    <td>{{item.address}}</td>
                    <td>10</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1</td>
                    <td>{{item.type}}</td>
                    <td [ngStyle]="{'color': item.status === 'active' ? 'green' : 'red' }" class="station-status">{{item.status}}</td>
                    <td>{{item.usage}}</td>
                    <td>{{item.revenue}}</td>
                    <td><mat-icon class="vertical-menu-icon" [matMenuTriggerFor]="dotmenu">more_vert</mat-icon>
                      <mat-menu #dotmenu="matMenu" class="chargingStation-threeDot-Menu">
                          &nbsp;&nbsp;<mat-slide-toggle>Stop-Start</mat-slide-toggle>&nbsp;<br>
                          &nbsp;&nbsp;<mat-slide-toggle [checked]="item.status === 'active' ? true : false" #toggleVal (change)="onToggleChange(item.status,item.id)">Inactive-Active</mat-slide-toggle>&nbsp;&nbsp;&nbsp;<br>
                          &nbsp;&nbsp;<mat-icon>settings</mat-icon><h5>Setting</h5> 
                      </mat-menu> 
                  </td>
                  </tr>
            </tbody>
            </table> -->

<!-- using mat-table for display the my station data-->
<table mat-table [dataSource]="dataSource" matSort>
  
  <!-- id column -->
  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Sr No </th>
    <td mat-cell *matCellDef="let row; let i=index;"> {{i + 1}} </td>
  </ng-container>

  <!-- station column -->
  <ng-container matColumnDef="station">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" >Station </th> <!--(click)="openChargerList()"-->
    <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="openChargerList(row.stationId)"> {{row.stationName}} </td>
  </ng-container>

  <!-- loaction column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Location </th>
    <td mat-cell *matCellDef="let row"> {{row.stationLocation}} </td>
  </ng-container>

  <!-- charger column -->
  <ng-container matColumnDef="charger">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.colspan]="4">Chargers Status</th>
  </ng-container>

  <!-- total column -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Total</th>
    <td mat-cell *matCellDef="let row" style="color:rgb(29, 147, 194); font-weight: bold;" > {{row.stationTotalChargers}} </td>
  </ng-container>

  <!-- available column -->
  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Available </th>
    <td mat-cell *matCellDef="let row" style="color: green; font-weight: bold;"> {{row.availableChargers}} </td>
  </ng-container>

  <!-- inuse column -->
  <ng-container matColumnDef="inuse">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Inuse </th>
    <td mat-cell *matCellDef="let row" style="color: orangered; font-weight: bold;"> {{row.inuseChargers}} </td>
  </ng-container>

  <!-- defective column -->
  <ng-container matColumnDef="defective">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Outoff Order </th>
    <td mat-cell *matCellDef="let row" style="color:red; font-weight: bold;"> {{row.outOffOrderChargers}} </td>
  </ng-container>

  <!-- type column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Type </th>
    <td mat-cell *matCellDef="let row" > {{row.stationParkingType}} </td>
  </ng-container>

  <!-- status column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Status </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.stationStatus === 'Available' ? 'green' : 'red' }" class="station-status"> {{row.stationStatus}} </td>
  </ng-container>

  <!-- menu option (like active/inactive/setting) -->
  <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  class="menu-col"></th>
      <td mat-cell *matCellDef="let row">
          <mat-icon class="vertical-menu-icon" [matMenuTriggerFor]="dotmenu">more_vert</mat-icon>
          <mat-menu #dotmenu="matMenu" class="chargingStation-threeDot-Menu">
              &nbsp;&nbsp;<mat-slide-toggle>Stop-Start</mat-slide-toggle>&nbsp;<br>
              &nbsp;&nbsp;<mat-slide-toggle [checked]="row.stationStatus === 'Available' ? true : false" #toggleVal (change)="onToggleChange(row.stationStatus,row.stationId)">Inactive-Active</mat-slide-toggle>&nbsp;&nbsp;&nbsp;<br>
              <div class="myStation-menu-setting" (click)="onClickedSetting(row.stationId)">
                  <mat-icon>settings</mat-icon>
                  <h4>Setting</h4>
              </div>
          </mat-menu> 
      </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="['id', 'station', 'location', 'charger', 'type', 'status', 'menu']"></tr> <!-- display these column in the 1st row -->
  <tr mat-header-row *matHeaderRowDef="['total','available','inuse','defective']"></tr> <!-- displaying these column in 2nd row-->
  <tr mat-row *matRowDef="let row; columns: ['id', 'station', 'location', 'total','available','inuse','defective', 'type', 'status', 'menu']"></tr> <!--display value -->


</table>

<!-- paginator (5 item per page) -->
<mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>

</mat-card-content>
</mat-card>       

<!-- Back button which redirect to dashboard -->
<div class="back-button">
        <button routerLink="/dashboard">Back</button>
</div>

</div>