<h1>Security Setting</h1>
<div class="securitySetting-section">
    <h2>Change Password</h2>
    <h4>Make sure you remember the password to log in</h4>
    <form class="password-form">
        <label class="accountSetting-label">Old Password:</label><br>
        <input placeholder="**********" class="accountSetting-input"><br>
        <label class="accountSetting-label">New Password:</label><br>
        <input placeholder="**********"><br>
        <label class="accountSetting-label">Comfirm Password:</label><br>
        <input placeholder="**********">
    </form>
    <div class="footer-button">
        <button>Cancel</button>
        <span class="example-spacer"></span>
        <button>Update</button>
    </div>
</div>
