<h1>Earnings</h1>
<div class="table-content-card">
    <mat-card>
        <mat-card-content>
            <!-- <table mat-table >
                <tr>
                    <th>Sr no</th>
                    <th>Station</th>
                    <th>Charging Session</th>
                    <th>Consumption</th>
                    <th>Revenue</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Virtuoso</td>
                    <td>33</td>
                    <td>9.51 kwh</td>
                    <td>22,000</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>WTC</td>
                    <td>40</td>
                    <td>10.20 kwh</td>
                    <td>86,000</td>
                  </tr>                  
            </table> -->
        </mat-card-content>
    </mat-card>
</div>
<div class="back-button">
    <button routerLink="/dashboard">Back</button>
</div>