<h1>Account Settings</h1>
<div class="account-setting-section">
    <div class="infomation-display-format">
        <div class="div1">
            <label for="name" class="title">Email Id</label><br><br><br>
            <label for="name" class="title">Password</label>
        </div>
        <div class="div2">
                <label for="name" class="ans-title">Johnwick@gmail.com</label><br><br><br>
                <label for="name" class="ans-title">John@123</label>
        </div>
    </div>
    <div class="accountSetting-auth-section">
        <h4>Two - Factor Authenication</h4>
        <!-- <span class="example-spacer"></span> -->
        <mat-slide-toggle></mat-slide-toggle>
    </div>
</div>
<div class="back-button">
    <button routerLink="/dashboard">Back</button>
</div>
